body{
	margin: 0px;
	padding: 0px;
	background-color: #4D4D4D;	
	font-family: Comic Sans MS, Comic Sans, cursive;
}
.center{
	text-align: center;
}
.blueBtn{
	background-color: #03e9f4;
	border-color: #03e9f4;
}
.blueTxt{
	color: #03e9f4;
}
#canvagamescreen
{
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 4px solid #000000;
}
#divDuchat{
  border: 4px solid #000000;
  border-radius: 4px;
  background-color: #AAF9FE;
  /* height: auto; */
  width: auto;
  flex: 1;
}
#scrennGameWithButton{
  text-align: center;
  flex: 1;
  width: 640px;
  padding-bottom: 5px;
  border-bottom: 4px solid #000000;
  border-top: 4px solid #000000;
  border-left: 4px solid #000000;
  border-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

#bigTitle{
	
	color: #FFFFFF;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}


#formlogin{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#register{
	display: none;
}
#gamescreen{
	display: none;
  margin-top: 8px;
  margin-bottom: 50px;
  border: 4px solid #FFFFFF;
  border-radius: 15px;
  background-color: #FFFFFF;
}
#login{
	display: none;
}
input{
	margin-bottom: 10px;
	padding: 8px;

}

h3{
  text-align: center;
}
#barreChargement{
  text-align: center;
  height: 15px;
  width: 90%;
  background-color: #FFFFFF;
  border: 3px solid #000000;
  border-radius: 3px;
}
#processLoading{
  background-color: #03e9f4;
  width: 0;
  height: 100%;
}
#paraForLoadBarre{
  font-size:8px ;
  font-weight: bold;
}
.ImgMove{
  width: 30%;
}
#imgBoussole{
  margin-top: 5px;
  width: 50%;
}
.ligne{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
}

#divContainsButtonOfMovement{
  width: auto;
  flex: auto;
  text-align: right;
  height: 100%;
}
#infoPlayer{
  width: auto;
  flex: auto;
  height: 100%;
}
#divForBoussole{
  width: auto;
  text-align: center;
  flex: auto;
  height: 100%;
}
.messageError{
  size: 2px;
  color: red;
  font-weight: bold;
}
#titrechat{
  height: auto;
}
#formulaire{
  height: auto;
  position: static;
  text-align: center;
}

#allMessage{
  overflow: auto;
  height: 370px;
}
#message{
  width: 100%;
}
#errone{
  display: none;
  text-align: center;
  height: 500px;
  margin-top: 100px;
  width: 100%;
}
footer{
  height: auto;
}



/* Style pour le formulaire de connexion
*/ 
.login-box {
  /* position: absolute;  */
  margin-top: 30%;
  margin-left: 50%;
  /* top: 50%;
  left: 50%;  */
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}